
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
$color1: #ffffff;
$color2: #000000; //bleu 
$color3: #8fe1fa;
$color4: #eef10a;



*{
// Utilisation de la propriété margin definissant la taille des marges sur lesquatres cotés de l'élément.
    margin:0; //Calibré à 0 
padding: 0; // Calibré à 0 
box-sizing:border-box;

}


///////////////////HEADER///////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////



#header {
   
//    Utlisation de la propitété display definissant le type d'affichage utilisée pour le rendu d'un element 
//   Utilisation de la propriété raccourcie flex definissant la capacité d'un element à modifier ses dimensions et à remplir l'espace disponible de son conteneur 
display: flex;
   

// Utilisation de la propriété flex-direction definisssant la façon dont les elements flexibles sont placés dans le conteneur

//Dans ce cas de figure ils seront placées en colonne 
flex-direction: column;
align-items: center;

border-bottom: solid 1px $color3;
font-family:"futura";
//width:100%;


// Utilisation de 
    nav{
        background:$color3; 
        
        height:50px;
          border-radius: 30px ;
          width: 900px;
        ul{ 

            display: flex; 
            justify-content: center;
            gap: 10px;
            //cursor:pointer;   
        li{
           text-transform: uppercase;
            padding:6px 0;
            list-style: none;
          
            a{
                text-decoration:none;
               
                color:rgb(0, 0, 0);

             }
        
        
        }
        
        
        }


    }

div { 
    margin-top:50px;
    display: flex; 
    flex-direction: column;
    align-items: center;

    h1{
        color:rgba(0, 0, 0, 0.712);
        align-items:center;
    }

}


}


/////MAIN///////////////////////////////////////
main{
    margin-top: 70px;
    margin-left:25%;
    margin-right:25%;
    margin-bottom: 70px;
    text-align: justify;
    background-color: rgba(182, 197, 204, 0.205);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    //PAGE d'accueil (index)
.card { 
    display: flex;
    flex-direction: column;
    align-items: center;
   gap:20px;
    img:hover{
        transform:scale(1.5);
        height:250px;
        width:250px;
        // margin-right: 20px;
        background-size:cover;
    }
    h1{
        margin-bottom:10px
    }

    p{
        text-align: justify;
    }

    .show{
      
        button{
            background-color: $color3;
            border:none;
        }
    }

}


///// Page d'inscription //
.mb-3{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        margin-bottom: 10px;
        
    }
    form{
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            input[type=text]{
                border: 2px solid #39ddfa;
                border-radius: 5px;
              
            }
          
          
            input[type=email]{
                border: 2px solid #39ddfa;
                border-radius: 4px;
            }
       
            input[type=password]{
                border: 2px solid #39ddfa;
                border-radius: 4px;
            }  
      
            input[type=password]{
                border: 2px solid #39ddfa;
                border-radius: 4px;
            }  
    
    
    
    
        }

      .submit{
          border-radius:5px;
          border:none;
          background-color: $color3;
      }  
    }


}

//Page de connexion 

.mb-3{

   
    form{

        div{
            input[type=pseudo]{
                border: 2px solid #39ddfa;
                border-radius: 5px;
        }

    }
    button{
        border-radius:5px;
        border:none;
        background-color: $color3;
        
    }


}


}

// Page ajoutart////
.ajout{
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
       
        input[type=text]{
            border: 2px solid #39ddfa;
            border-radius: 5px;
    }
        input[type=date]{
            border:2px solid #39ddfa;
            border-radius:5px;
        }
        
        #name{
            border:2px solid #39ddfa;
            border-radius:5px;
        }
        
        input[type=file]{
            border:2px solid #39ddfa;
            border-radius:5px;
        }
        input[type=submit]{
            border-radius:5px;
            border:none;
            background-color: $color3;
        }  
      
   
    }

}

//Page mon espace 


   form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
   
        h2{
            margin-bottom: 10px;
        }
        ul{
            
        li{
            list-style: none;
            
        }
        
        
        
            input[type=texte]{
            border-radius:5px;
            border:none;
            background-color: $color3;
        }  

    
    
    }

    a{
        border-radius:5px;
        border:none;
        background-color:$color3;
        text-decoration: none;
        color:#000000;
    }

    button{
        border:none;
    
    }


   }


//Page modprofil 

   div{

        h2{
           margin-bottom: 10px;

        }

        form{
            label{
                color:black;
            }
       
            input[type=text]{
                border: 2px solid #39ddfa;
                border-radius: 5px;
       
        }
       
        input[type=password]{
            border: 2px solid #39ddfa;
            border-radius: 5px;
 
   
   
    }

//Page articles

.section_article{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        align-items:center;
    }
    h2{
        align-items: center;
    }


}




















   // footer///////////////////////////////////////////////////

}
}
}
footer {
    display: flex;
    justify-content: space-around;
    background: rgba(182, 197, 204, 0.205);

    height: 50px;
    align-items: center;
    font-family: "Roboto";

    nav {
        ul {
            display: flex;

            li {
                list-style-type: none;
                margin-left: 10px;

                a {
                    text-decoration: none;
                    color: $color3;


                    svg {
                        height: 20px;
                        width: 20px;


                    }
                }
            }
        }
    }
}